@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poetsen+One&family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');

* {
  font-family: 'Nunito', sans-serif;
}

/* *::selection {
  color: black;
  background-color: white;
} */

/* Header */
header {
  padding: 0% 10% 0% 10%;
  background-image: url(/img/textura-de-papel-abstrato-header.jpg);
}

header nav {
  padding: 1.5% 0% 1.5% 0%;
  text-align: left;
}
header nav ul li {
  display: inline;
}

header nav ul li a {
  margin-right: 2.5%;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  color: white;
}

#Logo {
  margin-right: 4%;
  font-family: 'Seaweed Script', cursive;
  font-size: 300%;
  font-style: normal;
}

/* Main */
main {
  padding: 0% 9.5% 0% 9.5%;
}

main div {
  padding: 2% 0% 2% 0%;
}

.mainlink p {
  padding: 1% 0% 1% 0%;
  color: lightgrey;
}

.mainlink span {
  color: rgb(255, 0, 128);
}

.mainproduct {
  display: flex;
  flex-direction: row;
}

.mainleft {
  display: flex;
  flex-direction: column;
  width: 14%;
  margin-top: 1.5%;
}

.mainleft img {
  max-width: 60%;
  margin: 8% 0% 8% 0%;
  border-radius: 6%;
}

.topimage {
  background-color: rgb(255, 0, 128);
  padding: 2%;
}

.bottomimage {
  background-color: lightgrey;
  padding: 2%;
}

.mainmid {
  display: flex;
  flex-direction: row;
  height: 44em;
  width: 100%;
}

.mainmid img {
  width: 100%;
  height: 100%;
  border-radius: 2%;
}

.mainright {
  display: flex;
  flex-direction: column;
  margin-left: 4em;
}

.mainright h1 {
  font: bold;
  font-size: x-large;
  color: black;
}

.mainright h2 {
  font-size: large;
  color: black;
}

.mainright p {
  color: grey;
}

#codProduto {
  padding-top: 8px;
}

.precos {
  display: inline-flex;
  margin-top: 1.5em;
}

.parcela {
  display: inline-flex;
}

#precoAntigo {
  color: sandybrown;
  text-decoration: line-through;
  margin: 4px 8px 0px 0px;
}

#precoNovo {
  color: rgb(255, 0, 128);
  font-size: x-large;
}

#qntParcela {
  color: rgb(255, 0, 128);
  margin-right: 5px;
}

.productColors {
  display: flex;
  flex-direction: row;
  height: 5em;
}

.productColors img {
  max-height: 100%;
  max-width: 100%;
  margin: 10px 10px -10px 0px;
}

.productInfo h2 {
  margin-top: 30px;
}

.sizelist {
  display: inline-flex;
  margin: 5px 0px 20px 0px;
}

.sizelist li {
  margin-right: 1em;
}

.size {
  background-color: lightgrey;
  color: grey;
  border-radius: 5px;
  border: grey 1px solid;
}

.sizeselected {
  background-color: white;
  color: rgb(255, 0, 128);
  border-radius: 5px;
  border: rgb(255, 0, 128) 1px solid;
}

#btnBuy {
  background-color: rgb(255, 0, 128);
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding: 0.4em;
  border-radius: 30px;
  border: 0px;
}

.details {
  margin-top: 1em;
  border-top: #000 1px solid;
  border-bottom: #000 1px solid;
}

.details h2{
  cursor: crosshair;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.details p {
  padding-left: 1em;
  opacity: 50%;
  margin-bottom: 1.4em;
}

.bottomtext {
  text-align: center;
}

.bottomtext h1 {
  font: bold;
  font-size: x-large;
  color: black;
}
/* Footer */
footer {
  display: flex;
  justify-content: center;
}

.imageholder {
  text-align: center;
  background-color: #12B37B;
  min-width: 10%;
  max-width: 10%;
  margin: 2em;
  padding: 0.4em;
  border-radius: 15px;
}

.imageholder img {
  width: 65%;
}

.imageholder p {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  color: #FFF;
  font-weight: 600;
  letter-spacing: 2px ;
}